


# R files
*.Rproj
*.Rdata
*.Rapp.history
*.RDataTmp
*.Rprofile
*.Rhistory

# Other file types
*.log
*.md
*.joblib

# folders
**/keys
**/data
**/.Rproj
**/.Rproj.user
**/.ipynb_checkpoints
**/__pycache__
.Rproj.user
