# ignore maps projects
**/maps

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# python cache
**/__pycache__/

# R files
*.Rproj
*.Rdata
*.Rapp.history
*.RDataTmp

*.Rhistory

*.log
*.md

# folders
**/keys
**/data/sour
**/.Rproj.user
